<%= form_for(@agent) do |f| %>
  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% @agent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </p>

    <h4>contacts</h4>

    <table>
      <tr>
        <th>id</th>
        <th>phone</th>
        <th>label</th>
        <th>default</th>
      </tr>
      <%= f.fields_for :contacts do |contact_form| %>
        <tr>
          <td><%= contact_form.object.id %></td>
          <td><%= contact_form.text_field :phone %></td>
          <td><%= contact_form.text_field :label %></td>
          <td><%= contact_form.select :default, options_for_select([true, false], contact_form.object.default) %></td>
        </tr>
      <% end %>

      <%= f.fields_for :contacts, f.object.contacts.build do |contact_form| %>
        <tr>
          <td>create a new contact</td>
          <td><%= contact_form.text_field :phone %></td>
          <td><%= contact_form.text_field :label %></td>
          <td><%= contact_form.select :default, options_for_select([true, false]) %></td>
        </tr>
      <% end %>
    </table>

    <%= f.submit %>
  </div>
<% end %>
