<p id="notice"><%= notice %></p>

<p>
  <%= label_tag :id %>
  <%= @agent.id %>
</p>

<p>
  <%= label_tag :name %>
  <%= @agent.name %>
</p>

<h4>contacts</h4>
<table>
  <tr>
    <th>id</th>
    <th>label</th>
    <th>phone</th>
    <th>default</th>
  </tr>
  <% @agent.contacts.each do |contact| %>
    <tr>
      <td><%= contact.id %></td>
      <td><%= contact.label %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.default %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
